page-change-password {
  login-layout-2 {
    ion-grid {
      height: auto;
      ion-row:nth-child(2) button:first-of-type { display: none } //-- register button
      ion-row:last-child { display: none } //-- google, twitter, facebook
    }
  }
}
